.navbar{
  background: rgb(25, 29, 101);
  }


#nyheterhylte{
padding-left: 50vh;
padding-top: 10vh;
padding-bottom: 5vh;
}

.footer{
  background: rgba(25, 29, 101,0.9);
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  line-height: 60px; /* Vertically center the text there */
}
.Pfooter{
  color:white;
}
.carousel-inner, .carousel-item{
height:50vh;
}
@media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .day {
        height: 14.2857vw;
    }
}

.img-header {
  max-height: 600px;
  width: 100%;
  background-repeat:no-repeat;
  object-fit: cover;
 }

 .horseheadertext p{
   width: 45%;
   margin: auto;
   text-align: center;
   margin-bottom: 1.5rem;
 }
 .headerText {
   font-size: 1.5rem;
 }

.horsecollage1{
  width: 80%;
  margin: auto;
}


   @media screen and (max-width: 850px) {
 .horseheadertext p{
   min-width: 80%;
  }
}
