.navbar{
  background: rgba(25, 29, 101,0.9);
  }


#nyheterhylte{
padding-left: 50vh;
padding-top: 10vh;
padding-bottom: 5vh;
}

.footer{
  background: rgba(25, 29, 101,0.9);
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  line-height: 60px; /* Vertically center the text there */
}
.Pfooter{
  color:white;
}
.carousel-inner, .carousel-item{
height:50vh;
}

.horsebild{
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.btn-group{
  width: 70rem;
  margin: auto;
}

.btn-nyheter{
width: 30px;
}

.horsecollage{
  width: 100vh;
}

.horseheader {
  max-height: 600px;
  width: 100%;
  background-repeat:no-repeat;
  object-fit: cover;
 }

 .horseheadertext p{
   width: 45%;
   margin: auto;
   text-align: center;
   margin-bottom: 1.5rem;
 }

.horsecollage1{
  width: 60rem;
  margin: auto;
}


   @media screen and (max-width: 850px) {
 .horseheadertext p{
   min-width: 80%;
  }
}
